<% include partials/header %>

<h1 class="text-center">Sign Up</h1>
<div class="card new">
	<form action="/signup" method="POST">
		<div class="form-group">

	    	<label>Name</label>

	    	<input type="text" class="form-control" name="firstname" placeholder="firstname">
	    	<br>
	    	<input type="text" class="form-control" name="surname" placeholder="surname">

	    	<label>Username</label>
	    	<input type="text" class="form-control" name="username" placeholder="username">

	    	<label>Password</label>
	    	<input type="password" class="form-control" name="password" placeholder="password">

	    	<label>Re-type Password</label>
	    	<input type="password" class="form-control" name="rePassword" placeholder="Re-type password">
		</div>

		<div class="row mr-auto">
			<div class="ml-auto">
				<input type="submit" class="btn btn-sm btn-primary" value="Sign Up">
			</div>
		</div>
	</form>
	<p>Already have an account? <a href="/signin">Sign In</a></p>
</div>


<% include partials/footer %>